footer{
    box-shadow: 0 -1px 3px rgba(0,0,0,.1),0 -2px 2px rgba(0,0,0,.06),0 0 2px rgba(0,0,0,.07);
    padding: 24px 0;
}

.footer-container{
    display: flex;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 40px;
}

.footer-container ul li{
    color: rgba(0,0,0,.56);
    padding-top: .8rem;
    padding-bottom:.8rem;
    margin-bottom:.8rem;
    cursor: pointer;
}

.links-container{
    width: 190px;
    margin-right: 50px;
}

footer h3{
    font-weight: 400;
    margin-bottom: 24px;
}