*{
    box-sizing: border-box;
}
body{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: rgba(0,0,0,.87);
}

a{
    color:black;
    font-weight: 600;
}

header{
    position: relative;
    height: 101px;
    box-shadow: 0 1px 3px rgb(0 0 0 / 10%), 0 2px 2px rgb(0 0 0 / 6%), 0 0 2px rgb(0 0 0 / 7%);
}

.header-container{
    position: relative;
    max-width:1440px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: 4em;
    padding-right: 4em;
}

.left-nav{
    display: flex;
    height: 100%;
    align-items: center;
    padding-left: 10px;
}

.logo{
    width: 51px;
    height: 51px;
}

.logo > img{
    height: 100%;
}

.left-nav nav ul{
    display: flex;
    
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.left-nav nav ul li{
    text-transform: uppercase;
    padding-left: 24px;
    font-weight: 700;
    letter-spacing: 0.1em;
    cursor: pointer;
}

.left-nav nav ul li:hover{
    color: #008248;
}

.right-nav{
    display:flex;
    align-items: center;
}

.find-store{
    display:flex;
    align-items:center;
    margin-right:40px;
    font-weight: 600;
    transition: all .2s;
    cursor:pointer;
}

.find-store:hover{
    color: #008248;
}

.sign-in,
.join-now{
    padding:7px 16px;
    border: 1px solid;
    border-radius: 50px;
    font-weight: 600;
    line-height: 1.2;
    cursor:pointer;
    transition: all .2s;
}

.sign-in{
    margin-right: 16px;
}

.sign-in:hover{
    background-color: rgba(0,0,0,0.06);
}
.join-now{
    background-color: black;
    color:white;
}

.find-store ion-icon{
    padding-right:8px;
    font-size:24px;
}

.join-now:hover{
    background-color: rgba(0,0,0,.7);
    border-color:rgba(0,0,0,.7);
}